[data-md-color-scheme="custom"] {
    --md-primary-fg-color:#0D58A6;
    --md-accent-fg-color:#04376C;
    --md-typeset-a-color: #0e70e0; /*Цвет ссылок*/
    --md-default-bg-color: #c9dcf0; /*Фоновый цвет*/
    --md-default-fg-color: #353535; /*Основной цвет текста (абзацы, списки, подзаголовки, nav и toc)*/
    --md-code-bg-color: #aec9e7; /*Цвет фона блока кода*/
    --md-code-fg-color: #5c5b5b; /*Цвет текста в блоке кода*/
    --md-default-fg-color--light: #4e4d4d; /*Цвет h1 и заголовков блоков toc и nav*/
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:#0D58A6;
}

/*Параметры текста статей*/
.md-typeset {
    font-family: 'Tahoma', 'arial';
    font-weight: 200;
    font-size: 16px;
    color: #4b5563;
}
/*Параметры текста nav и toc*/
.md-nav {
    font-family: 'Tahoma', 'arial';
    font-weight: 400;
    font-size: 16px;
    color: #4b5563;
}